body{
  margin:0;
  box-sizing: border-box;

}
.navbar-container{
  display: flex;
  justify-content: space-between;
  background-color: #1D1F25;
  border-bottom: 1px solid #FFFFFF;
}
.navbar-container h1{
  color: #FFBB29;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-wrapper{
  display: flex;
}
.navbar-container ul{
  display: flex;
  justify-content: center;


}
.navbar-container ul li{
  list-style:none;
  display: flex;
  margin:16px 24px ;
  color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:14px;
}
.navbar-container ul li:hover{
  cursor:pointer;
  color:#FFBB29;
}

.icons-container{
  padding:5px 15px;
}
.icons-container img{
  border-radius: 100%;
}
.icons-container img:hover{
  cursor:pointer;
}
.gear ,.bell{
  margin:0px 16px;
}
.gear:hover,.bell:hover{
  cursor:pointer;

}

/* search bar */

.search-input {

  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 35px;
}

.search-input.empty {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="grey" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>');
}
.search-bar-container input{
  width:448px;
  height: 40px;
  background-color:#282C38;
  color:white;
  
}
.search-bar-container input::placeholder{
 font-size:14px;
 font-weight: 400;
 color: #757B8C;
 font-family: 'Poppins', sans-serif;
 font-family: 'Roboto', sans-serif;
}
.search-bar-container button{
  height:43px;
}

/* tags */
.tags-container{
  /* border:2px solid red; */
  background: #141518;

}
.tags-container button{
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  background-color: #1D1F25;

  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin:20px 20px;
  line-height: 24px;
  line-height: 100%;

}
.tags-container button:hover{
  background-color: #FFBB29;
  color: black;
  

}
/* .tags-container button:active{
  background-color: #FFBB29;
  color:white
} */
/* for heding container */
.heading-container{

  background-color: #1D1F25;
  color:white;
  padding: 20px; /* Add padding to create space around the content */
  margin-bottom: 0; /* Remove the bottom margin */
  
  
}

/* card images for tiles */
.container-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  grid-auto-rows: 1fr;
  background-color: #141518;
  color: #FFFFFF;
  padding: 13px 15px; 
}

.container-grids{ 
    display: flex;
    justify-content: flex-end;
    background-color: #141518;
    
}
.container-grids-fi{
  margin:0px 15px;
}
.container-grids-gr{
  margin:0px 15px;

}
.card {
 
  border-radius: 8px;
  font-size: 12px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #1D1F25;
  

}
.card h4{

  color: #FFBB29;
  font-weight: bold;
  font-size:14px;
  line-height: 21px;
  position: relative;
  padding:5px 5px;
}

.card-lines{
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #B5B5BE;
  font-size:14px;
  line-height: 22px;
  font-weight: 400;
}
.card-image {
  height: 40%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.card-tag {

  font-size: 14px;
  letter-spacing: 8px;
  color:#FFBB29;
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
.card-text{
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color:#757B8C;
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.card-title {
  margin-bottom: 8px;
}

.card-lines p {
  margin: 4px 0;
}
